<md-dialog aria-label="Edit Event Detail Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Event</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="save()">
                <md-tooltip md-direction="bottom">Save Changes</md-tooltip>
                <md-icon class="material-icons">save</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <md-content flex layout-fill>
                <md-content ng-show="selectedEvent !== undefined">
                    <md-content layout="row" layout-align="space-around center">
                                <md-content flex layout="row">
                                    <md-input-container flex class="md-block">
                                        <label>Time (seconds from T-0)</label>
                                        <input ng-model="selectedEvent.time" ng-change="sortEvents()" name="time" ng-required="selectedEvent!==null">
                                        <div ng-messages="profileForm.time.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">
                                                What time should this event take place?
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex class="md-block" ng-show="selectedEvent.type === 'GUIDANCE'">
                                        <label>End (seconds from T-0)</label>
                                        <input ng-model="selectedEvent.end" name="end">
                                    </md-input-container>
                                </md-content>
                                <md-input-container flex class="md-block">
                                    <label>Name</label>
                                    <input ng-model="selectedEvent.name" name="name" ng-required="selectedEvent!==null">
                                    <div ng-messages="profileForm.name.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">
                                            This can be whatever you want, but make it descriptive!
                                        </div>
                                    </div>
                                </md-input-container>
                            </md-content>
                            <md-content layout="row" layout-align="space-around center">
                                <md-input-container flex class="md-block">
                                    <label>Event Type</label>
                                    <md-select ng-model="selectedEvent.type" name="type" ng-required="selectedEvent!==null">
                                        <md-option ng-repeat="obj in type" value="{{obj.code}}" 
                                                   ng-disabled="obj.code === 'FAIRING_SEP' && form.Mission.Payload.code !== 'SATL'">{{obj.name}}</md-option>
                                    </md-select>
                                    <div ng-messages="profileForm.type.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">
                                            What type of event do you want to create?
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex class="md-block">
                                    <label>Stage</label>
                                    <md-select ng-model="selectedEvent.stageNumbers" name="stage" ng-required="selectedEvent!==null" multiple>
                                        <md-option ng-repeat="obj in stages" ng-value="obj.stageNumber">{{obj.stageName}}</md-option>
                                        <md-option ng-repeat-end ng-repeat="obj2 in obj.Boosters track by $index" ng-value="obj2.stageNumber">{{obj2.stageName}}</md-option>
                                    </md-select>
                                    <div ng-messages="profileForm.stage.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">
                                            The event has to apply to one stage in particular
                                        </div>
                                    </div>
                                </md-input-container>
                            </md-content>
                            <md-content layout="row" layout-align="space-around center">
                                <md-content flex layout="row" layout-align="space-around center">
                                    <md-content ng-show="selectedEvent.type === 'IGNITION' || selectedEvent.type === 'GUIDANCE'"
                                                flex layout="row" class="md-block">
                                        <md-input-container flex class="md-block">
                                            <label>Pitch</label>
                                            <input ng-model="selectedEvent.Attitude.pitch">
                                        </md-input-container>
                                        <md-input-container flex class="md-block">
                                            <label>Yaw</label>
                                            <input ng-model="selectedEvent.Attitude.yaw">
                                        </md-input-container>
                                        <md-input-container flex class="md-block">
                                            <label>Throttle</label>
                                            <input ng-disabled="selectedEvent.dynamic" ng-model="selectedEvent.Attitude.throttle">
                                        </md-input-container>
                                        <md-input-container flex class="md-block">
                                            <label>Gravity Turn</label>
                                            <md-select ng-model="selectedEvent.Attitude.gt">
                                                <md-option ng-repeat="obj in gravTurnSelect" value="{{obj.code}}">{{obj.name}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </md-content>
                                </md-content>
                            </md-content>
                            <md-content ng-show="selectedEvent.type === 'IGNITION' || selectedEvent.type === 'CUTOFF'"
                                        layout="row" layout-align="space-around center">
                                <md-content flex class="md-block" ng-repeat="engineConfig in stageEngines">
                                    <md-input-container flex>
                                        <label># of {{engineConfig.Engine.name}} engines</label>
                                        <input ng-model="selectedEvent.Engines[$index].engineId" name="id" ng-value="engineConfig.engineId" type="hidden"/>
                                        <input ng-model="selectedEvent.Engines[$index].number" name="engines" required ng-change="selectedEvent.Engines[$index].engineId = engineConfig.engineId"/>
                                        <div ng-messages="profileForm.engines.$error" multiple md-auto-hide="true">
                                            <div ng-message="required">
                                                Insert 0 if you don't want to use these engines
                                            </div>
                                        </div>
                                    </md-input-container>
                                </md-content>
                                <md-content flex class='md-block'>
                                    <md-input-container flex class="md-block" ng-show="selectedEvent.type === 'IGNITION'">
                                        <label>Is Landing Burn?</label>
                                        <md-switch ng-model="selectedEvent.dynamic" aria-label="Hoverslam"></md-switch>
                                    </md-input-container>
                                </md-content>
                            </md-content>
                </md-content>
            </md-content>
        </div>
    </md-dialog-content>
</md-dialog>