<md-dialog aria-label="Edit Engine Detail Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Engine Properties</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="save()">
                <md-tooltip md-direction="bottom">Save Changes</md-tooltip>
                <md-icon class="material-icons">save</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-tooltip md-direction="bottom">Cancel</md-tooltip>
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <md-content flex layout="row" layout-align='space-around center'>
                <md-content layout-padding flex layout="row">
                    <div layout-padding flex="15" style="margin:auto">1)</div>
                    <md-content flex>
                        <md-input-container flex class="md-block">
                            <label>Choose engine:</label>
                            <md-select ng-model="selectedEngineConfig.Engine.name" required aria-label="Choose Engine">
                                <md-option ng-repeat="obj in engineTypes" value="{{obj.name}}" ng-click="selectEngineType(obj)">{{obj.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label># of engines:</label>
                            <input ng-model="selectedEngineConfig.number" name="numEngines" required aria-label="Number of Engines" int>
                        </md-input-container>
                    </md-content>
                </md-content>
            </md-content>
            <form role="form" ng-submit="answer()">
                <md-content flex layout-align='space-around center'>
                    <md-content layout-padding flex layout="row">
                        <div layout-padding flex="15" style="margin:auto">2)</div>
                        <md-content flex>
                            <label>Customise:</label>
                        </md-content>
                    </md-content>
                    <md-content layout="row" layout-align="space-around center">
                        <md-input-container flex class="md-block">
                            <label>Name</label>
                            <input ng-model="selectedEngineConfig.Engine.name" name="engineName" required aria-label="Engine Name">
                            <div ng-messages="profileForm.engineName.$error" multiple md-auto-hide="true">
                                <div ng-message="required">
                                    This can be whatever you want, but make it descriptive!
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Mass (kg)</label>
                            <input ng-model="selectedEngineConfig.Engine.mass" name="engineMass" required float>
                            <div ng-messages="profileForm.engineMass.$error" multiple md-auto-hide="true">
                                <div ng-message="required">
                                    This can be whatever you want, but make it descriptive!
                                </div>
                            </div>
                        </md-input-container>
                    </md-content>
                    <md-content layout="row" layout-align="space-around center">
                        <md-input-container flex class="md-block">
                            <label>Sea Level Isp (s)</label>
                            <input ng-model="selectedEngineConfig.Engine.ispSL" name="engineispSL" required float>
                            <div ng-messages="profileForm.engineispSL.$error" multiple md-auto-hide="true">
                                <div ng-message="required">
                                    This can be whatever you want, but make it descriptive!
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Vacuum Isp (s)</label>
                            <input ng-model="selectedEngineConfig.Engine.ispVac" name="engineispVac" required float>
                            <div ng-messages="profileForm.engineispVac.$error" multiple md-auto-hide="true">
                                <div ng-message="required">
                                    This can be whatever you want, but make it descriptive!
                                </div>
                            </div>
                        </md-input-container>
                    </md-content>
                    <md-content layout="row" layout-align="space-around center">
                        <md-input-container flex class="md-block">
                            <label>Sea Level Thrust (N)</label>
                            <input ng-model="selectedEngineConfig.Engine.thrustSL" name="enginethrustSL" required float>
                            <div ng-messages="profileForm.enginethrustSL.$error" multiple md-auto-hide="true">
                                <div ng-message="required">
                                    This can be whatever you want, but make it descriptive!
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Vacuum Thrust (N)</label>
                            <input ng-model="selectedEngineConfig.Engine.thrustVac" name="enginethrustVac" required float>
                            <div ng-messages="profileForm.enginethrustVac.$error" multiple md-auto-hide="true">
                                <div ng-message="required">
                                    This can be whatever you want, but make it descriptive!
                                </div>
                            </div>
                        </md-input-container>
                    </md-content>
                    <md-content layout="row" layout-align="space-around center">
                        <md-input-container flex class="md-block">
                            <label>Throttle Capability</label>
                            <input ng-model="selectedEngineConfig.Engine.throttleCapability" name="throttleCapability" required float>
                            <div ng-messages="profileForm.throttleCapability.$error" multiple md-auto-hide="true">
                                <div ng-message="required">
                                    This can be whatever you want, but make it descriptive!
                                </div>
                            </div>
                        </md-input-container>
                        <md-content flex></md-content>
                    </md-content>
                </md-content>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>