<md-content id="world" layout-fill flex layout="column" ng-cloak>

    <md-content ng-show="worldLoading" flex layout-padding layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <p ng-bind-html="missionLoadingMessage"></p>
    </md-content>
    <md-content ng-show="!worldLoading && (countdown || finished)" flex layout="column" layout-align='space-around center'>
        <md-content class='md-primary centre'>
            <div ng-show="countdown">
                <h3>{{missionName}} will launch in</h3>
                <md-divider></md-divider>
                <h2>{{days}}</h2>
                <h2>{{hours}}</h2>
                <h2>{{minutes}}</h2>
                <h2>{{seconds}}</h2>
            </div>
            <div ng-show="finished">
                <h3 class=".md-display-3">{{missionName}} has already launched</h3>
                <md-divider></md-divider>
                <a class=".md-display-3" href="" ng-click="redirect('world?w=2&code=' + missionCode)">Rewatch the launch here</a>
            </div>
        </md-content>
    </md-content>

    <md-content ng-show="cesiumShow" flex layout="row">
        <md-content flex>
            <div id="cesiumContainer"></div>
            <div style="position:fixed">
                <md-menu>
                    <md-button class="md-icon-button" aria-label="Menu" ng-click='$mdOpenMenu()'>
                        <md-icon class="material-icons" style="color:white">menu</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="changeView()">
                                <md-icon class="material-icons">language</md-icon>
                                <span>Change View</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item hide-gt-sm ng-show="cesiumShow && sidebarShow">
                            <md-button ng-click="toggleNav('sidenav')">
                                <md-icon class="material-icons">timeline</md-icon>
                                <span>Telemetry</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item >
                            <md-button ng-click="openCesiumCreditsDialog($event)">
                                <md-icon class="material-icons">info_outline</md-icon>
                                <span>Credits</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-content>

        <md-sidenav ng-show="cesiumShow && sidebarShow" flex layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-theme-indigo">
                <div class="md-toolbar-tools" layout="row" layout-align="space-around center" flex>
                    <h1><span>{{missionName}}</span></h1>
                    <md-button ng-repeat="stage in stageMap" class="md-raised" ng-click="clickStage(stage.id)">Stage {{stage.id + 1}}</md-button>
                </div>
            </md-toolbar>
            <md-content>
                <p class="centre">{{clock}}</p>
            </md-content>
            <md-divider></md-divider>
            <md-content flex layout-fill layout-padding layout="column" layout-align="space-around center">
                <div flex layout-fill layout="column" layout-align="center center">
                    <span id="altitudeTel"></span>
                    <div class="plot" id="altitudePlot"></div>
                </div>
                <div flex layout-fill layout="column" layout-align="center center">
                    <span id="velocityTel"></span>
                    <div class="plot" id="velocityPlot"></div>
                </div>
            </md-content>
        </md-sidenav>
    </md-content>
</md-content>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
        <md-dialog aria-label="Cesium Credits Dialog" style="min-height:20%">
            <md-dialog-content layout-fill>
                <div class="md-dialog-content" layout-fill>
                    <div id="creditContainer"></div>
                </div>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>